#ignore design checkpoint files
*.dcp

#ignore misc vivado artifacts
*.str
*.jou
*.log

#ignore generated directories
*.Xil/
*.cache/
*.gen/
*.hw/
*.ip_user_files/
*.runs/
*.tmp/
bootloader/
slave/
HighSpeedImager/
*.veo
*.xml
/Image_Sensor/source/IPs/*/*.vho
/Image_Sensor/source/IPs/*/*.v
/Image_Sensor/source/IPs/*/*.xdc
/Image_Sensor/source/IPs/*/*.vhdl